@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    line-height: 1.5;
    color: black;
    font-family: 'MapoHongdaeFreedom';
    font-family: 'Pretendard';
    min-width: 1320px;
    cursor: none;
    /* 기본 커서를 숨깁니다. */
}

input {
    cursor: none;
}

@media (hover: hover) and (pointer: fine) {
    .cursor__circle {
        width: 30px;
        height: 30px;
        margin-top: -50%;
        margin-left: -50%;
        border-radius: 50%;
        background-color: #FAF5C0;
        border: solid 1px rgba(33, 33, 33, 0.5);
        transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            height 0.3s cubic-bezier(0.25, 1, 0.5, 1);

    }

    #cursor.mousehover .cursor__circle {
        width: 30px;
        height: 30px;
        background-color: #6a98e1;
        border-color: #476FAF;
        opacity: 0.8;
    }

    #cursor.arrow::after {
        content: '';
        position: absolute;
        left: -50%;
        top: -50%;
        width: 100%;
        height: 100%;
        background-image: url('https://svgshare.com/i/MzQ.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    #cursor.subtle .cursor__circle {
        opacity: 0.16;
    }

    #cursor.overlay .cursor__circle {
        width: 48px;
        height: 48px;
        background-color: rgb(227, 222, 193);
        border-color: transparent;
    }
}

#cursor {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
    mix-blend-mode: screen;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
}

/* 헤더 */
header {
    width: 100%;
    margin: 20px auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header_in {
    width: 90%;
    margin: auto;
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-around;
    font-family: 'MapoHongdaeFreedom';
}

h1:hover {
    color: #333;
}

/* 가운데 헤더 */
.ul1 {
    font-weight: 600;
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
}

.ul1 li {
    position: relative;
    display: inline block;
}

.ul1>li>a {
    display: block;
    padding: 0 70px;
}

/* 가운데 헤더 호버 */

.ul1 li img {
    display: none;
    position: absolute;
    left: 40%;
    top: 70%;
    z-index: 1;
}

.ul1 li a:hover+img {
    display: block;
}

.ul1 li:hover>img {
    display: block;
}

/* 마지막 헤더 */
.ul2 {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    position: relative;
    z-index: 2;
}

.mp,
.ch {
    width: 20px;
}

.ul2 li {
    margin-left: 30px;
    font-family: 'Pretendard';
    position: relative;
}

.ul2>li>a:hover {
    color: #476FAF;
}

/* 원 */
.circle {
    display: none;
    position: absolute;
    top: 26px;
    left: 7px;
}

/* 캘린더 */
.calendar {
    position: absolute;
    top: 40px;
    right: -140px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
    transition-delay: 0s, 0s;
}

.ul2 li:hover .circle,
.ul2 li:hover .calendar,
.ul2 li:hover .number {
    visibility: visible;
    opacity: 1;
    /* hover 시 visibility 전환 지연을 0s로 설정합니다. */
}

.ul2 li a:hover .today {
    visibility: visible;
    opacity: 1;
    /* hover 시 visibility 전환 지연을 0s로 설정합니다. */
}

.number {
    position: absolute;
    top: 218px;
    right: -75px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.today {
    position: absolute;
    top: 250px;
    left: 8px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
    transition-delay: 0s, 0s;
}

/* 캘린더 */

/* 서브메뉴 */

.sub_box1 {
    visibility: hidden;
    width: 320px;
    top: 20px;
    left: 30px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 2;
}

.ul1 li:hover .sub_box1 {
    visibility: visible;
    opacity: 1;
}

.sub {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    transition: visibility 0s, opacity 0.5s linear;
}

.sub li {
    font-size: 12px;
    margin: 25px 18px;
}

.sub>li>a:hover {
    color: #476FAF;
}

/* 배너 */
.shopbanner {
    width: 100%;
    margin: auto;
}
.shopbanner img {
    width: 100%;
}
/* 배너 */
/* 검색 */
.search_in {
    width: 1320px;
    margin: auto;
    padding: 5px 10px;
    width: 200px;
    font-size: 14px;
    border-width: 1px;
    border-radius: 0px;
    border-style: solid;
    border-color: #adabad;
    border-radius: 20px;
    background-color: #ffffff;
    color: #1f1f1f;
    text-shadow: 0px 0px 0px rgba(42, 42, 42, .75);
    font-family: 'Pretendard';
    outline: none;
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    opacity: 0;
}
.search1 {
    border: none;
    outline: none;
}

.search2 {
    position: absolute;
    top: 8px;
    right: 20px;
}

/* 상품1 */
.bst {
    width: 1214px;
    margin: auto;
    display: block;
}

.bestpart {
    width: 1214px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 10px;
}

.bst1 h3{
    margin-top: 5px;
    font-weight: 500;
}
.bst1 h3:hover{
    font-weight: 600;
}
.colors {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    width: 140px;
}

.bst1 .dc {
    color: red;
    font-weight: 600;
}

.bst1 .price {
    color: gray;
    text-decoration: line-through;
    font-size: 11px;
}

.bst1 {
    width: 170px;
    overflow: hidden;
    display: block;
}

.bst1 img {
    transition: transform 0.5s ease;
    display: block;

}

.bst1 li:nth-child(1) {
    overflow: hidden;
    width: 145px;
}

.bst1 img:hover {
    transform: scale(1.1);
}
.pricedc a,
.pricedc span,
.pricedc h3 {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

/* 상품배너밑 */
/* 상품 */
.newpart {
    width: 1320px;
    margin: auto;
}

.newpart ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    border-top: #333 solid 1px;
    border-bottom: #333 solid 1px;
    padding: 10px 0;
}

.newpartli,
.cart {
    display: flex;
    align-items: center;
}

.newpartli h2,
.cart h2 {
    margin: 0 0 0 10px;
    font-size: 25px;
}
.cart h2:hover{
    color: #F9A458;
}
.newpartli h2:hover{
    color: #F9A458;
}
/* 상품 */
.category {
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: #333 solid 1px;
    padding: 10px 0;
}

.categoryul1,
.categoryul2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.categorySelect {
    margin-left: 20px;
}

.categoryul2 li:not(.image-container) {
    margin-right: auto;
}

.image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.image-container+.image-container {
    margin-left: 10px;
}

.mdview {
    width: 1320px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.mdmenu {
    text-align: center;
    margin: 30px 0;
}

.mdmenu a {
    display: inline-block;
    padding: 20px;
    font-size: 18px;
}

.mdmenu a:hover {
    font-weight: 600;
}

.md1 {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}

.md1>ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.md1 li {
    margin-right: 5px;
}

.md1 span {
    color: red;
    font-weight: 600;
}

.md1text {
    text-decoration: line-through;
}

.md1>ul:first-child,
.md1>ul:last-child {
    margin-bottom: 10px;
    /* 상단과 하단 ul 간 간격 조정 */
}

.md1_in,
.heart {
    flex-grow: 1;
    /* md1_in과 heart가 나머지 항목들 사이의 간격을 차지하도록 함 */
}

.md1_in,
.heart1 {
    flex-grow: 1;
    /* md1_in과 heart가 나머지 항목들 사이의 간격을 차지하도록 함 */
}

.md1_in {
    margin-right: auto;
    /* 나머지 li들과의 간격을 만들기 위해 오른쪽 마진을 auto로 설정 */
}

/* md2 */
.md2 {
    width: 315px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid #333;
}

.md2>ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.md2 li {
    margin-right: 5px;
}

.md2 span {
    color: red;
    font-weight: 600;
}

.md2>ul:first-child,
.md2>ul:last-child {
    margin-bottom: 10px;
    /* 상단과 하단 ul 간 간격 조정 */
}

/* md2 */
.heart {
    margin-left: 200px;
    /* 나머지 li들과의 간격을 만들기 위해 왼쪽 마진을 auto로 설정 */
}
.heart1{
    margin-left: 220px;
}
.colorno {
    margin-left: 130px;
}

/* 호버 */
.md1_in a:hover {
    font-weight: 600;
}

.mock1img {
    display: block;
    width: 225px;
    height: 225px;
    overflow: hidden;
}

.mock1img img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.mock1img:hover img {
    transform: scale(1.2);
}

/* 이미지호버 */
/* 럭키배너 */
.luckybanner {
    width: 1320px;
    margin: auto;
    position: relative;
}
.luckybanner img{
    width: 100%;
}
/* 럭키배너 */
/* 리뷰 */
.reviewtop {
    width: 1320px;
    margin: auto;
    margin-top: 50px;

}
#review img{
    width: 100%;
}
.reviewtop ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewlink a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.reviewtop h4 {
    font-size: 17px;
    position: relative;
    display: block;
}

.reviewlink h4 {
    margin-right: 10px;
}

.reviewlink h4::before {
    content: '';
    /* before, after는 인라인 요소라서 블럭요소로 바꿔줌. */
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: -4px;
    transform: scaleX(0);
    transform-origin: left;
    transition: 1s;
}

.reviewlink h4:hover::before {
    transform: scaleX(1);
}

.reviewlink h4::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -8px;
    transform: scaleX(0);
    transform-origin: left;
    transition: 1s;
    z-index: -1;
}

.reviewlink h4:hover::before {
    transform: scaleX(1);
}
/* 리뷰 */
/* 리뷰배너 */
.attention {
    width: 1320px;
    margin: 20px auto;
}
/* 리뷰배너 */

/* 베스트리뷰 */
.bestreview{
    width: 1260px;
    margin: auto;
    margin-top: 20px;
}
.bestreview1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}
.review1{
    position: relative;
}
.review1 h1{
    color: white;
    position: absolute;
    top: 32%;
    left: 5%;
    font-size: 40px;
}
.review1 .an2{
    position: absolute;
    top: -10px;
    left: -10px;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.review2 ul{
    justify-content: space-between;
    height: 100%;
    transition: opacity 0.5s ease;
}
.review2 .review2_in{
    position: absolute;
    bottom: 30%;
    left: 10%;
}
.review2 .review2_in2{
    position: absolute;
    bottom: 30%;
    left: 10%;
}
.review2 .review2_in3{
    position: absolute;
    bottom: 30%;
    left: 10%;
}
.review2 .review2_in4{
    position: absolute;
    bottom: 30%;
    left: 10%;
}
.review2 .review2_in1{
    position: absolute;
    bottom: 15%;
    left: 10%;
}
.review2{
    position: relative;
}
.review2 ul h2{
    text-align: center;
    font-size: 30px;
    position: absolute;
    bottom: 15%;
    right: 10%;
    border: #000 solid 1px;
    border-radius: 100%;
    padding: 10px 17px;
    display: block;
}

.review2 img {
    align-self: center; /* 이미지를 가운데로 정렬 */
}
/* 베스트리뷰 */
/* 리뷰호버 */
.reviewhover{
    position: absolute;
    bottom: 10%;
    right: -6%;
    z-index: 100;
    opacity: 0;
    transition: 1s;
}
.review2 ul:hover .reviewhover {
    visibility: visible;
    opacity: 1;
}
/* 리뷰호버 */
/* 푸터 */
footer {
    max-width: 1920px;
    margin: 100px auto 0;
    height: auto;
    overflow: hidden;

}

.footer1 {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-between;
}

.footer1left,
.footer1right {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
}

.footer1left a {
    padding: 5px;
    display: block;
}

.footer1left a:hover {
    filter: invert(30%);
}

.footer1left {
    margin-left: 30px;
}

.footer1right a {
    padding: 30px;
    display: block;
}

.footer1right a:hover {
    color: #476FAF;
}

.footer2 {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-between;
}

.footer2right_in {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
}

.footer2left {
    margin-left: 30px;
}

.footer2right {
    padding-right: 30px;
}

.footer2right_in {
    justify-content: space-between;
    width: 700px;
    margin: 5px 0;
}

.footer2right>li {
    display: block;
    border-bottom: solid black 1px;
}

.footerimg {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    margin-top: 20px;
}

.footerimg img {
    max-width: 1920px;
    width: 100%;
    height: auto;
}

.footer2right_in span {
    color: #476FAF;
}

.footer2right_in a:hover {
    font-weight: 500;
}

.footer2left a:hover {
    font-weight: 500;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10px, 1fr));
    gap: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    overflow: hidden;
}

.grid-item {
    border-radius: 8px;
    margin-right: 10px;
    overflow: hidden;
}

.grid_track {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    width: calc(1200px * 12);
    /* 이미지 개수에 맞게 조정 */
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 5));
        /* 이미지 개수의 절반만큼 이동 */
    }
}

/* 푸터 */