@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    line-height: 1.5;
    color: black;
    font-family: 'MapoHongdaeFreedom';
    font-family: 'Pretendard';
    min-width: 1320px;
    cursor: none;
    /* 기본 커서를 숨깁니다. */
}

input {
    cursor: none;
}

@media (hover: hover) and (pointer: fine) {
    .cursor__circle {
        width: 30px;
        height: 30px;
        margin-top: -50%;
        margin-left: -50%;
        border-radius: 50%;
        background-color: #FAF5C0;
        border: solid 1px rgba(33, 33, 33, 0.5);
        transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            height 0.3s cubic-bezier(0.25, 1, 0.5, 1);

    }

    #cursor.mousehover .cursor__circle {
        width: 30px;
        height: 30px;
        background-color: #6a98e1;
        border-color: #476FAF;
        opacity: 0.8;
    }

    #cursor.arrow::after {
        content: '';
        position: absolute;
        left: -50%;
        top: -50%;
        width: 100%;
        height: 100%;
        background-image: url('https://svgshare.com/i/MzQ.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    #cursor.subtle .cursor__circle {
        opacity: 0.16;
    }

    #cursor.overlay .cursor__circle {
        width: 48px;
        height: 48px;
        background-color: rgb(227, 222, 193);
        border-color: transparent;
    }
}

#cursor {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
    mix-blend-mode: screen;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
}

/* 헤더 */
header {
    width: 100%;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: background-color 0.3s; /* 배경색 전환 애니메이션 */
    padding: 20px 0px;
}
.header-scrolled {
    background-color: rgba(255, 255, 255, 0.5); /* 스크롤 시 적용될 배경색 */
    border-bottom: 1px solid black;
}

.header_in {
    width: 90%;
    margin: auto;
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-around;
    font-family: 'MapoHongdaeFreedom';
}

h1:hover {
    color: #333;
}

/* 가운데 헤더 */
.ul1 {
    font-weight: 600;
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
}

.ul1 li {
    position: relative;
    display: inline block;
}

.ul1>li>a {
    display: block;
    padding: 0 70px;
}

/* 가운데 헤더 호버 */

.ul1 li img {
    display: none;
    position: absolute;
    left: 40%;
    top: 70%;
    z-index: 1;
}

.ul1 li a:hover+img {
    display: block;
}

.ul1 li:hover>img {
    display: block;
}

/* 마지막 헤더 */
.ul2 {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    position: relative;
    z-index: 2;
}

.mp,
.ch {
    width: 20px;
}

.ul2 li {
    margin-left: 30px;
    font-family: 'Pretendard';
    position: relative;
}

.ul2>li>a:hover {
    color: #476FAF;
}

/* 원 */
.circle {
    display: none;
    position: absolute;
    top: 26px;
    left: 7px;
}

/* 캘린더 */
.calendar {
    position: absolute;
    top: 40px;
    right: -140px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
    transition-delay: 0s, 0s;
}

.ul2 li:hover .circle,
.ul2 li:hover .calendar,
.ul2 li:hover .number {
    visibility: visible;
    opacity: 1;
    /* hover 시 visibility 전환 지연을 0s로 설정합니다. */
}

.ul2 li a:hover .today {
    visibility: visible;
    opacity: 1;
    /* hover 시 visibility 전환 지연을 0s로 설정합니다. */
}

.number {
    position: absolute;
    top: 218px;
    right: -75px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.today {
    position: absolute;
    top: 250px;
    left: 8px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
    transition-delay: 0s, 0s;
}

/* 캘린더 */

/* 서브메뉴 */
.sub_box1 {
    visibility: hidden;
    width: 150px;
    top: 40px;
    left: 20px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 2;
}
.sub {
    transition: visibility 0s, opacity 0.5s linear;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: black 1px solid;
}

.sub li {
    font-size: 12px;
    margin: 20px 18px;
    padding: 5px;
}
.ul1 li:hover .sub_box1 {
    visibility: visible;
    opacity: 1;
}
.sub>li>a:hover {
    color: #476FAF;
}

/* 핫토픽 */
.commall1 {
    width: 1320px;
    margin: 100px auto;
    justify-content: space-around;
}
.ht_in{
    margin-top: 40px;
}
.hottopic {
    width: 630px;
}

.hottop {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-between;
    margin-bottom: 20px;
}

/* ht1 */
.ht_in1 {
    border: solid 1px black;
    margin: 10px 0;
    padding: 15px;
    border-radius: 30px;
}

.ht_in1 ul {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-between;

}

.ht_in1 ul h2 {
    margin-bottom: 15px;
}

.ht_in1 {
    position: relative;
}

/* ht1 */
/* 코멘트 */
.ht_in1:hover .comment {
    opacity: 1;
}

.comment {
    border: #000000 solid 1px;
    border-radius: 30px;
    padding: 20px;
    width: 500px;
    position: absolute;
    background-color: white;
    top: 50%;
    z-index: 100;
    opacity: 0;
    transition: 1s;
}

.comment ul {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-between;
}

.comment h2 {
    border-bottom: #000000 4px solid;
    display: block;
    width: 19%;
    margin-bottom: 10px;
}

/* 코멘트 */
/* 코멘트1 */
.ht_in2:hover .comment1 {
    opacity: 1;
}

.comment1 {
    border: #000000 solid 1px;
    border-radius: 30px;
    padding: 20px;
    position: absolute;
    background-color: white;
    top: 50%;
    z-index: 101;
    opacity: 0;
    transition: 1s;
    width: 500px;

}

.comment1 ul {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
}

.comment1 h2 {
    border-bottom: #000000 4px solid;
    display: block;
    width: 19%;
    margin-bottom: 10px;
}

/* 코멘트1 */
/* ht2 */

.ht_in2 {
    border: solid 1px black;
    margin: 10px 0;
    padding: 15px;
    border-radius: 30px;
    position: relative;
}

.ht_in2 ul {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-between;

}

.ht_in2 ul h2 {
    margin-bottom: 15px;
}

/* ht2 */

/* 코멘트2 */
.ht_in3:hover .comment2 {
    opacity: 1;
}

.comment2 {
    border: #000000 solid 1px;
    border-radius: 30px;
    padding: 20px;
    position: absolute;
    background-color: white;
    top: 40%;
    z-index: 102;
    opacity: 0;
    transition: 1s;
    width: 500px;

}

.comment2 ul {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-between;
}

.comment2 h2 {
    border-bottom: #000000 4px solid;
    display: block;
    width: 19%;
    margin-bottom: 10px;
}

/* 코멘트2 */
/* ht3 */
.ht_in3 {
    border: solid 1px black;
    margin: 10px 0;
    padding: 15px;
    border-radius: 30px;
    position: relative;
}

.ht_in3 ul {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-between;

}

.ht_in3 ul h2 {
    margin-bottom: 15px;
}

/* ht3 */

/* 코멘트3 */
.ht_in4:hover .comment3 {
    opacity: 1;
}

.comment3 {
    border: #000000 solid 1px;
    border-radius: 30px;
    padding: 20px;
    position: absolute;
    background-color: white;
    top: 40%;
    z-index: 103;
    opacity: 0;
    transition: 1s;
    width: 500px;
}

.comment3 ul {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-between;
}

.comment3 h2 {
    border-bottom: #000000 4px solid;
    display: block;
    width: 19%;
    margin-bottom: 10px;
}

/* 코멘트3 */
/* ht4 */
.ht_in4 {
    border: solid 1px black;
    margin: 10px 0;
    padding: 15px;
    border-radius: 30px;
    position: relative;
}

.ht_in4 ul {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-between;

}

.ht_in4 ul h2 {
    margin-bottom: 15px;
}

/* ht3 */
.combot {
    margin-top: 10px;
}

.combot h3 {
    border: #000000 solid 1px;
    background-color: #000000;
    border-radius: 20px;
    width: 80px;
    color: white;
    text-align: center;
}

.search1 {
    padding: 5px 10px 10px 0px;
    width: 500px;
    font-size: 14px;
    border-width: 1px;
    border-radius: 0px;
    border-style: solid;
    border-color: #000000;
    background-color: #ffffff;
    color: #1f1f1f;
    text-shadow: 0px 0px 0px rgba(42, 42, 42, .75);
    font-family: 'Pretendard';
    outline: none;
}

/* 핫토픽 */

/* 커뮤니티 */
.commall1 {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
}

.commm {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-between;
    align-items: center;
}
.comm{
    width: 630px;
    margin-left: 60px;
}
.search_in {
    padding: 10px 0;
    color: #1f1f1f;
    text-shadow: 0px 0px 0px rgba(42, 42, 42, .75);
    font-family: 'Pretendard';
    outline: none;
    position: relative;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    opacity: 0;
}
.search1 {
    border: none;
    outline: none;
}

.search2 {
    position: absolute;
    top: 15px;
    left: 195px;
}
.search3{
    padding: 5px 10px 10px 0px;
    width: 190px;
    font-size: 14px;
    border: none;
    background-color: #ffffff;
    color: #1f1f1f;
    text-shadow: 0px 0px 0px rgba(42, 42, 42, .75);
    font-family: 'Pretendard';
    outline: none;
}
.categoryul1,
.categoryul2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.categorySelect {
    margin-left: 20px;
}

.categoryul2 li:not(.image-container) {
    margin-right: auto;
}

.image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.image-container+.image-container {
    margin-left: 10px;
}

.post{
    margin-top: 20px;
    width: 630px;
}
.postin{
    border-top: #333 solid 1px;
    display: block;
}
.post ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #333;
    align-items: center;
}

.post a{
    display: block;
    padding: 8px 0;
}
.post a:hover{
    font-weight: 700;
}
.picc{
    margin-left: 10px;
}
.number1 ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}
.number1 a{
    display: block;
    padding: 30px;
}
.number1 a:hover{
    font-weight: 700;
}
.writepost1{
    display: none;
}
.newpost{
    text-align: center;
    position: relative;
    margin-top: 10px;
}
.textpost{
    position: absolute;
    top: 25%;
    left: 41%;
    color: white;
    font-size: 18px;
}
/* post-container에 호버되었을 때의 스타일 */
.post-container:hover .writepost {
    display: none; /* 기본 이미지 숨김 */
}

.post-container:hover .writepost1 {
    display: inline; /* 호버 시 두 번째 이미지 표시 */
}
/* 커뮤니티 */
/* 이벤트배너 */
.eventbanner{
    width: 100%;
    margin: auto;
}
.eventbanner img {
    width: 100%;
}
/* 이벤트배너 */
/* 공지 */
/* 미드3 */
.mid3{
    width: 1320px;
    margin: auto;
    margin-top: 80px;
}
.mid3 h2:hover{
    color: #476FAF;
}
.mid3_in{
   border: 1px solid black;
   border-radius: 30px;
   padding: 30px;
   margin-top: 20px;
   margin-bottom: 100px;
}
.mid3_in1{
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-between;
    border-bottom: 1px solid #333; 
    margin-bottom: 20px;
    font-size: 17px;
}

.mid3_in1 h4{
    margin-bottom: 10px;
    font-weight: 500;
}
.mid3_in1 h4:hover{
    font-weight: 600;
}
.mid3_in2{
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: center;
}
.mid3_in2 a{
    display: block;
    margin: 0 20px;
    font-size: medium;
}
.mid3_in2 a:hover{
    font-weight: 500;
}
/* 공지 */
/* 주간베스트 */
/* 미드2 */
.mid2{
    width: 1320px;
    margin: 110px auto;
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-between;
}
/* 미드2 왼쪽 */
.mid2left{
    width: 630px;
}
.mid2left_in{
    width: 620px;
    margin-bottom: 20px;
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-between;
    align-items: center;
}
.mid2left_in img{
    margin-left: 10px;
}
.mid2left_in a:hover{
    text-decoration: underline;
}
.mid2left ul{
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-between;
}
.mid2left_in1{
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
}
.mid2left_in2{
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
}

.mid2left_in1{
    position: relative;
}
.hover1{
    position: absolute;
    left: 0px;
    opacity: 0;
    perspective: 1000px;
}
.mid2left_in1:hover img{
    transform: rotateY(180deg);
    opacity: 1;
}
.mid2left_in1 img{
    transition: 1s;
}
/* 미드2 왼쪽 */

/* 미드2 오른쪽 */
.mid2_top{
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.mid2_top img{
    margin-left: 10px;
}
.mid2_top a:hover{
    text-decoration: underline;
} 
.mid2right_in{
    width: 660px;
    position: relative;
}
.move1{
    position: absolute;
    top: 20px;
    right: 50px;
}
.move2{
    position: absolute;
    top: 160px;
    right: 50px;
}
.move3{
    position: absolute;
    bottom: 110px;
    right: 50px;
}
.move4{
    position: absolute;
    top: 185px;
    left: 260px;
}
.best1{
    position: absolute;
    bottom: 35px;
    left: 28px;
}
.best2{
    position: absolute;
    top: 15px;
    right: 210px;
}
.best3{
    position: absolute;
    top: 160px;
    right: 210px;
}
.best4{
    position: absolute;
    bottom: 30px;
    right: 210px;
}

.mid2right_in div img {
    filter: grayscale(100%);
    /* 흑백 필터를 적용합니다. */
    transition: filter 0.5s ease;
    /* 효과 전환에 걸리는 시간을 설정합니다. */
}

.mid2right_in div img:hover {
    filter: grayscale(0%);
    /* 마우스를 올렸을 때 흑백 필터를 제거합니다. */
}
/* 주간베스트 */

/* 서포터즈 */
.supmenu{
    width: 1320px;
    margin: auto;
    display: block;
    margin-bottom: 50px;
}
.supall{
    width: 1320px;
    margin: auto;
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-between;
}
.supporters{
    width: 333px;
}
.supp1{
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-between;
}
.sup_in{
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    padding-top: 10px;
}
.supp1 h3:hover{
    text-decoration: underline;
}
.supimg{
    margin: 5px 10px 5px 5px;
}

.sup_in1{
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-between;
}
.sup_in1:hover{
    font-weight: 700;
}
.out{
    margin-left: 5px;
}
.postout{
    margin-bottom: 15px;
    display: block;
}
.postout:hover{
    font-weight: 700;
}
/* 서포터즈 */
/* 주간멤버 */
.memmenu{
    width: 1320px;
    margin: auto;
    display: block;
    margin-top: 130px;
}
.member{
    width: 1320px;
    margin: auto;
    margin-top: 50px;
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-around;
}
.member1{
    position: relative;
}
.mem_in{
    position: absolute;
    bottom: 40px;
    left: 27px;
    padding: 10px 80px 50px 20px;
    background-color: rgba(255, 255, 255, 0.565);
    border-radius: 20px;
}
.memh2{
    color: #476FAF;
    font-size: 18px;
}
.fan:hover ~ .mem_pic,
.mem_pic:hover{
    visibility: visible;
    opacity: 1;
}
.mem_pic{
    position: absolute;
    bottom: -190px;
    left: 10px;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    
}
/* 주간멤버 */
/* 푸터 */
footer {
    max-width: 1920px;
    margin: 100px auto 0;
    height: auto;
    overflow: hidden;

}

.footer1 {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-between;
}

.footer1left,
.footer1right {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
}

.footer1left a {
    padding: 5px;
    display: block;
}

.footer1left a:hover {
    filter: invert(30%);
}

.footer1left {
    margin-left: 30px;
}

.footer1right a {
    padding: 30px;
    display: block;
}

.footer1right a:hover {
    color: #476FAF;
}

.footer2 {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: space-between;
}

.footer2right_in {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
}

.footer2left {
    margin-left: 30px;
}

.footer2right {
    padding-right: 30px;
}

.footer2right_in {
    justify-content: space-between;
    width: 700px;
    margin: 5px 0;
}

.footer2right>li {
    display: block;
    border-bottom: solid black 1px;
}

.footerimg {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    margin-top: 20px;
}

.footerimg img {
    max-width: 1920px;
    width: 100%;
    height: auto;
}

.footer2right_in span {
    color: #476FAF;
}

.footer2right_in a:hover {
    font-weight: 500;
}

.footer2left a:hover {
    font-weight: 500;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10px, 1fr));
    gap: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    overflow: hidden;
}

.grid-item {
    border-radius: 8px;
    margin-right: 10px;
    overflow: hidden;
}

.grid_track {
    display: -webkit-box;
    /*ios, 사파리, 크롬*/
    display: -moz-box;
    /*파이어폭스*/
    display: -ms-flexbox;
    /*인터넷 익스플로러, 엣지*/
    display: flex;
    /*표준 맨 마직막에 위치*/
    width: calc(1200px * 12);
    /* 이미지 개수에 맞게 조정 */
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 5));
        /* 이미지 개수의 절반만큼 이동 */
    }
}

/* 푸터 */